body {
     background-image: ur! ('GGGlogo.png');
     background-repeat: no repeat;
     background-position: right top;
}
table{
     margin-left: 0px;
}
table, {td 
    border-width:2px;
    border-style:solid;
}

/*Samantha Jacob, TH260, 010