body    { background-color:#228b22}
table	{ border-collapse:collapse; border-color:#ffff00; margin:auto;}
h1	{ font-family:"Arial","Apple Gothic",sans-serif; text-align:center; font-size:32pt;color:#000000;}
h2	{ font-family:"Arial","Apple Gothic",sans-serif; text-align:center; font-size:16pt;color:#000000;}
h3	{ font-family:"Arial","Apple Gothic",sans-serif; text-align:center; font-size:14pt;color:#000000;}